.dropb {
  background-color: #02630ab4;
  color: rgb(255, 255, 255);
  padding: 16px;
  font-size: 20px;
  border: none; 
}
.dropdown {
  position: relative;
  display: inline-block;
}
.drop-conteudo {
  display: none;
  position: absolute;
  background-color: #02630ab4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.281);
  z-index: 1;
  font-size: 20px;
}

.drop-conteudo a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.drop-conteudo a:hover {background-color: rgb(0, 0, 0);}
.dropdown:hover .drop-conteudo {display: block;}
.dropdown:hover .dropb {background-color: #02630a;}

.bot{
    display: flex;
    justify-content: space-around;
}

.texto{
    text-align: justify;
    color: rgb(216, 209, 203);
    text-shadow: 0 0 5px #02630a, 0 0 5px #0000FF;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 55%;
    box-sizing: border-box;
}

.img{
    display: flex;
    align-items: center;
    margin: auto;
}

body{
    background-image: url("../imagens/2pjj.gif");
}
.logoCPN{
  width: 330px;
  height: 165px;
  }
.logo2{
  position: relative;
  margin: auto;
  padding-left: 39%;
}

.imagemTexto{
    padding: 20px 50px 20px 5px;

}

.bloco1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.bloco2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    text-indent: 3em; 
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}
.conteudo {
    background-color: #02630a;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.conteudo::before {
    content: "";
    position: absolute;
    background-color: #000;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;
}
.titulo {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.titulo-primeiro {
    color: #02630a;
}
.titulo-segundo {
    color: #000;
}
.descricao {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
}
.descri-primaria {
    color: #fff;
}
.segunda-descricao {
    color: #fff;
}
.botao {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 175px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.botao-primario {
    background-color: transparent;
    border: 1px solid #02630a;
    color: #fff;
    transition: background-color .5s;
}
.botao-primario:hover {
    background-color: #02630a;
    color: #fff;
}
.segundo-botao {
    background-color: #02630a;
    border: 1px solid #000;
    color: #fff;
    transition: background-color 1s;
}
.segundo-botao:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.primeiro-conteudo {
    display: flex;
}
.primeiro-conteudo .segunda-coluna {
    z-index: 11;
}
.primeira-coluna {
    text-align: center;
    width: 40%;
    z-index: 10;
    color: #fff;
}
.segunda-coluna {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes-sociais {
    margin: 1rem 0;
}
.link-redes-sociais:not(:first-child){
    margin-left: 10px;
}
.link-redes-sociais .itens-redes-sociais {
    transition: background-color .5s;
}
.link-redes-sociais:hover .itens-redes-sociais{
    background-color: #02630a;
    color: #fff;
    border-color: #02630a;
}
.lista-redes-sociais {
    display: flex;
    list-style-type: none;
}
.itens-redes-sociais {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
}
.quadrado {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.quadrado input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #fff;
}
input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    -webkit-text-fill-color: #000 !important;
}
.input-LL {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

/* second content*/

.segundo-conteudo {
    position: absolute;
    display: flex;
}
.segundo-conteudo .primeira-coluna {
    order: 2;
    z-index: -1;
}
.segundo-conteudo .segunda-coluna {
    order: 1;
    z-index: -1;
}
.senha {
    color: #fff;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.senha::first-letter {
    text-transform: capitalize;
}



.sign-in-js .primeiro-conteudo .primeira-coluna {
    z-index: -1;
}

.sign-in-js .segundo-conteudo .segunda-coluna {
    z-index: 11;
}
.sign-in-js .segundo-conteudo .primeira-coluna {
    z-index: 13;
}

.sign-in-js .conteudo::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/

    z-index: 12;
}

.sign-up-js .conteudo::before {
    animation: slideout 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/

    z-index: 12;
}

.sign-up-js .segundo-conteudo .primeira-coluna,
.sign-up-js .segundo-conteudo .segunda-coluna {
    z-index: -1;
}

.sign-up-js .primeiro-conteudo .segunda-coluna {
    z-index: 11;
}

.sign-up-js .primeiro-conteudo .primeira-coluna {
    z-index: 13;    
}


/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE*/
.sign-in-js .primeiro-conteudo .segunda-coluna {

    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
}

.sign-up-js .segundo-conteudo .segunda-coluna {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
}

/*ANIMAÇÃOO CSS PARA O CONTEÚDO*/

@keyframes deslocamentoEsq {

    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25% {
        left: -80px;
        opacity: .5;
        /* z-index: 12; NÃO HÁ NECESSIDADE */
    }

    50% {
        left: -100px;
        opacity: .2;
        /* z-index: 12; NÃO HÁ NECESSIDADE */
    }

    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}


@keyframes deslocamentoDir {

    from {
        left: 0;
        z-index: 12;
    }

    25% {
        left: 80px;
        /* z-index: 12;  NÃO HÁ NECESSIDADE*/
    }

    50% {
        left: 100px;
        /* z-index: 12; NÃO HÁ NECESSIDADE*/
        /* background-color: yellow;  Exemplo que dei no vídeo*/
    }

    to {
        left: 110px;
        z-index: -1;
    }
}


/*ANIMAÇÃO CSS*/

@keyframes slidein {

    from {
        left: 0;
        width: 40%;
    }

    25% {
        left: 5%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 45%;
        width: 50%;
    }

    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {

    from {
        left: 60%;
        width: 40%;
    }

    25% {
        left: 45%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 5%;
        width: 50%;
    }

    to {
        left: 0;
        width: 40%;
    }
}

/*VERSÃO MOBILE*/
@media screen and (max-width: 1040px) {
    .conteudo {
        width: 100%;
        height: 100%;
    }

    .conteudo::before {
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
    }
    .primeiro-conteudo, .segundo-conteudo {
        flex-direction: column;
        justify-content: space-around;
    }

    .primeira-coluna, .segunda-coluna {
        width: 100%;
    }
    
    .sign-in-js .conteudo::before {
        top: 60%;
        left: 0;
        border-radius: 0;
    }

    .quadrado {
        width: 90%;
    }
    
    /* ANIMAÇÃO MOBILE CSS*/

    @keyframes deslocamentoEsq {

        from {
            top: 0;
            opacity: 1;
            z-index: 12;
        }
    
        25% {
            top: -80px;
            opacity: .5;
            /* z-index: 12; NÃO HÁ NECESSIDADE */
        }
    
        50% {
            top: -100px;
            opacity: .2;
            /* z-index: 12; NÃO HÁ NECESSIDADE */
        }
    
        to {
            top: -110px;
            opacity: 0;
            z-index: -1;
        }
    }
    
    
    @keyframes deslocamentoDir {
    
        from {
            top: 0;
            z-index: 12;
        }
    
        25% {
            top: 80px;
            /* z-index: 12;  NÃO HÁ NECESSIDADE*/
        }
    
        50% {
            top: 100px;
            /* z-index: 12; NÃO HÁ NECESSIDADE*/
            /* background-color: yellow;  Exemplo que dei no vídeo*/
        }
    
        to {
            top: 110px;
            z-index: -1;
        }
    }
    
    
    
    @keyframes slidein {
    
        from {
            top: 0;
            height: 40%;
        }
    
        25% {
            top: 5%;
            height: 50%;
        }
    
        50% {
            top: 25%;
            height: 60%;
        }
    
        75% {
            top: 45%;
            height: 50%;
        }
    
        to {
            top: 60%;
            height: 40%;
        }
    }
    
    @keyframes slideout {
    
        from {
            top: 60%;
            height: 40%;
        }
    
        25% {
            top: 45%;
            height: 50%;
        }
    
        50% {
            top: 25%;
            height: 60%;
        }
    
        75% {
            top: 5%;
            height: 50%;
        }
    
        to {
            top: 0;
            height: 40%;
        }
    }
   
}

@media screen and (max-width: 740px) {
    .quadrado {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .quadrado {
        width: 100%;
    }
}

#circulo
{
  position: fixed; /*ajustado para o círculo não ficar no canto oposto da tela*/
  top: 80px;
  right: 20px;
  z-index: 9999; /*coloca o circulo preto em cima do outro circulo*/
}
#botao_circulo
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: black;
  border: 2px green;
  border-radius: 50%;
  box-shadow: 0px 10px 25px rgba(122, 122, 122, 0.5);
  transition: all 0.2s ease-in-out; /*controla a transição de quando coloca o mouse por cima: tempo, quantos elementos, ease-in-out cria o fade-out*/
}
#botao_circulo img:first-child /*first child marca a primeira imagem da div círculo, no caso o clique aqui*/
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*para ajustar a posição da imagem dentro do círculo*/
    height: 25px;
    width: 49px;
    z-index: 2;
}
#botao_circulo img:last-child /*last child marca a segunda imagem da div círculo, no caso a lampada*/
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*para ajustar a posição da imagem dentro do círculo*/
    width: 35px;
    height: 40px;
    opacity: 0;
    transition: all 0.2s ease-in-out; /*controla a transição de quando coloca o mouse por cima: tempo, 
    quantos elementos, ease-in-out cria o fade-out*/
    z-index: 1; /*posição para ficar abaixo do clique aqui*/
}
#botao_circulo:hover
{
    background-color: green;
    box-shadow: 0px 10px 25px rgba(122, 122, 122, 0.5);
}

#botao_circulo:hover img:last-child
{
    opacity: 1;
box-shadow: 0px 10px 25px rgba(122, 122, 122, 0.5);
}

#botao_circulo:hover img:first-child
{
    opacity: 0;
    box-shadow: 0px 10px 25px rgba(122, 122, 122, 0.5);
}
  
#quadrado
{
    position: fixed;
    right: 86px;
    top: 71px;
    background-color: #000000;
    border-radius: 3px; /* bordas arredondadas do quadrado */
    width: 300px; /* largura */
    height: 300px; /* altura */
    box-shadow: 10px 10px 25px 10px rgba(122, 122, 122, 0.5); /* sombra */
    display: none;
    text-align: center; /* alinhamento do texto */
    z-index: 55;
    border-color: green; /* cor da borda */
}
#quadrado.show 
{
  right: 60px; /*posição de onde o quadrado vai aparecer*/
}
#quadrado img  
{
  max-width: 100%; /* largura maxima da imagem */
  max-height: 100%; /* altura maxima da imagem */
  border-radius: 8px 8px 8px 8px; /* bordas arredondadas da imagem */
}
#imgCuriosidade{
  width: 80%;
  height: 55%;
}
#quadrado p 
{
  margin-top: 20px; /* margim superior */
  color: green; /* cor */
  font-weight: bold;
  font-size: 0.8rem; /* tamanho da fonte */
}

#barra {
  position: fixed; /* mantém a barrinha presa na parte de baixo */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px; /*altura da barrinha */
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.9; /*opacidade pra ficar meio transparante*/
  color: #00FF00;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 25px; /*mexe na altura dos textos dentro da barrinha*/
  padding-left: 20px;
  transition: 0.5s; 
  z-index: 100;
}
#barra:hover {
  height: 25%; /*passar mouse na barrinha e tamanho do retângulo*/
}
#barra:hover .informa {
  opacity: 1; /*deixa a opacidade 0 de antes em 1 e faz aparecer o texto*/
  transform: translateY(0); /* importante para o texto não ficar cortado pela página*/
}
.informa {
  opacity: 0; /*deixa o texto invisível antes de passar o mouse*/
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  transition: opacity 0.5s, transform 0.5s; /*ajuda na transição do texto*/
  transform: translateY(200px); /*ajusta a "hitbox" da transformação do efeito da barrinha subindo*/
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.informa p, .informa h3 {
  margin: 0;
  padding: 10px;
  text-align: left;
}

.informa-esq {
  position: absolute; /*esse e outros arrumam a posição dos blocos de texto para não ficar uma bagunça*/
  left: 0;
  width: 30%;
  top: -210px;
}

.informa-meio {
  position: absolute;
  left: 30%;
  width: 40%;
  top: -200px;
}

.informa-dir {
  position: absolute;
  right: 0;
  width: 30%;
  top: -200px;
}


/* RESPONSIVIDADE */

@media only screen and (max-width: 1600px) {
/* Estilos específicos para o Samsung Galaxy S20 Ultra */
/* Aqui você pode definir regras de CSS para ajustar o layout, tamanhos de fonte, espaçamento, etc. */

.hp{
    padding: 14px;
    width: 4.8vw;
    height: 6.2vh;
    margin-left: 12px;
    margin-top: 12.5px;
  }

#barra:hover {
    height: 30%; /*passar mouse na barrinha e tamanho do retângulo*/
}
.informa-meio {
    top: -205px;
}

.informa-dir {
    right: 50px;
}
}

@media only screen and (max-width: 412px) and (max-height: 915px) {
    /* Estilos específicos para o Samsung Galaxy S20 Ultra */
    /* Aqui você pode definir regras de CSS para ajustar o layout, tamanhos de fonte, espaçamento, etc. */

.logoCPN{
    width: 320px;
    height: 150px;
    margin-left: 53px;
}
.logo2{
    position: relative;
    padding-left: 0%;
} 

.bot{
    display: block;
    text-align: center;
    flex-wrap: wrap;
}
    
.dropb {
    padding: 10px;
    width: 44.8vw;
    height: 6.1vh;
    margin-left: 10px;
}
.hp{
    padding: 10px;
    width: 14.9vw;
    height: 5.1vh;
    margin-left: 23px;
    margin-top: 23px;
}
.dropdown {
    position: relative;
}
.drop-conteudo 
{
    position: left;
    background-color: #02630ab4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.281);
    z-index: 1;
    font-size: 20px;
}
.drop-conteudo a 
{
    color: rgb(255, 255, 255);
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    width: 70%;
}
.drop-conteudo a:hover {background-color: rgb(0, 0, 0);}
.dropdown:hover .drop-conteudo {display: block;}
.dropdown:hover .dropb {background-color: #02630a;}

.texto
{
    text-align: justify;
    color: rgb(216, 209, 203);
    text-shadow: 0 0 5px #02630a, 0 0 5px #0000FF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    height: 100px;
    width: 300px;
    top: 280px;
    font-size: 1.5rem;
    box-sizing:content-box;
}

/*botão*/
#circulo
{
  top: 50%;
  right: 5%;
}
#quadrado
{
  top: 50%;
  right: 20.5%;
  width: 250px; /* largura */
  height: 250px; /* altura */
}
#quadrado img  
{
  max-width: 50%; /* largura maxima da imagem */
  max-height: 50%; /* altura maxima da imagem */
}

/*rodapé*/
#barra {
  line-height: 15px; /*distância entre linhas dos textos dentro da barrinha*/
}
#barra:hover{
  height: 50%;
}
.informa {
  transition: opacity 0.8s, transform 0.8s; /*ajuda na transição do texto*/
  width: 120%;
  transform: translateY(450px); /*ajusta a "hitbox" da transformação do efeito da barrinha subindo*/
}
.informa {
  font-size: .6rem;
  left: 100px;
}
.informa p, .informa h3 {
  text-align: center;
  padding: 5px;
}

.informa-esq {
  left: 0px;
  width: 40%;
  top: -390px;
}

.informa-meio {
  left: 0px;
  width: 40%;
  top: -290px;
}

.informa-dir {
  left: 0px;
  width: 40%;
  top: -120px;
}
}